<section class="accompaniment">
	<div class="container">
		<div class="accompaniment__wrap">
			<h2 class="heading heading--accompaniment">Сопровождение пациентов в KANO</h2>
			<p class="accompaniment__text">
				Все ваше лечения будет контролировать личный<br />
				медицинский координатор.
			</p>
			<ul class="accompaniment__list">
				<li class="accompaniment__item">
					<img src="img/accompaniment/icon.svg" alt="" />
					<p>Подберет удобные для вас даты</p>
				</li>
				<li class="accompaniment__item">
					<img src="img/accompaniment/icon.svg" alt="" />
					<p>Проконтролирует сроки лечения</p>
				</li>
				<li class="accompaniment__item">
					<img src="img/accompaniment/icon.svg" alt="" />
					<p>Напомнит о предстоящих процедурах</p>
				</li>
			</ul>
		</div>
	</div>
	<img src="img/accompaniment/img.png" class="accompaniment__img" alt="" />
</section>
