<section class="answer">
	<div class="container">
		<div class="answer__wrap">
			<div class="answer__img2"></div>
			<div class="answer__content">
				<h2 class="heading heading--answer">Как получить идеальную улыбку?</h2>
				<p class="answer__text">У нас в клинике есть своя зуботехническая лаборатория.</p>
				<p class="answer__text">
					Это позволяет нам производить индивидуальные коронки (ваши будущие зубы) для каждого пациента. Вы подберете вместе с доктором цвет и
					материал из которого будут сделаны коронки.
				</p>
			</div>
		</div>
	</div>
</section>
