<section class="answer">
	<div class="container">
		<div class="answer__wrap">
			<div class="answer__img"></div>
			<div class="answer__content">
				<h2 class="heading heading--answer">Не знаете, какое лечение подходит вам?</h2>
				<p class="answer__text">У вас отсутсвуют зубы или они в плохом состоянии?</p>
				<p class="answer__text">
					Мы занимаемся лечением абсолютно любых проблем, связанных с зубами Мы восстановим вам один зуб или всю челюсть или займемся реставрацией
					зубов в плохом состоянии.
				</p>
				<p class="answer__text">Записывайтесь на бесплатную консультацию, и врач расскажет вам все возможные варианты лечения</p>
				<button class="btn-pink btn-pink--answer" data-bs-toggle="modal" data-bs-target="#consultation">Записаться на консультацию</button>
			</div>
		</div>
	</div>
</section>
