<section class="blockquotes">
	<div class="container">
		<div class="blockquotes__content">
			<div class="blockquotes__images-wrap">
				<span class="blockquotes__images-item active">
					<img src="img/blockquotes/1.png" alt="1" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/2.png" alt="2" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/3.png" alt="3" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/4.png" alt="4" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/5.png" alt="5" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/6.png" alt="6" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/7.png" alt="7" />
				</span>
				<span class="blockquotes__images-item">
					<img src="img/blockquotes/8.png" alt="8" />
				</span>
			</div>
			<div class="blockquotes__texts-wrap">
				<div class="blockquotes__texts-item active">
					<p class="blockquotes__name"><span>Валерия</span>, США</p>
					<p class="blockquotes__quote">«Моя улыбка - это моя визитная карточка»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Елена</span>, Беларусь</p>
					<p class="blockquotes__quote">«Я прилетела в клинику KANO из Нью-Йорка»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Едена</span>, Беларусь</p>
					<p class="blockquotes__quote">«Абсолютно довольна методами лечения и сервисом стоматологии»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Илья</span>, Беларусь</p>
					<p class="blockquotes__quote">«KANO - это, в первую очередь, качество»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Ирина</span>, Россия</p>
					<p class="blockquotes__quote">«Сервис у вас очень хорош»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Марина</span>, Эстония</p>
					<p class="blockquotes__quote">«Онлайн-консультация - это очень удобно!»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Алексей</span>, Россия</p>
					<p class="blockquotes__quote">«Здесь отношение цена-качество оптимальное»</p>
				</div>
				<div class="blockquotes__texts-item">
					<p class="blockquotes__name"><span>Пётр</span>, США</p>
					<p class="blockquotes__quote">«Вас буду рекомендовать всем своим знакомым»</p>
				</div>
			</div>
		</div>
	</div>
</section>
