<section class="clinics">
	<div class="container">
		<div class="clinics__wrap">
			<div class="clincs__images">
				<img src="img/clinics/1.png" class="clinics__img" alt="" />
				<img src="img/clinics/2.png" class="clinics__img active" alt="" />
				<img src="img/clinics/3.png" class="clinics__img" alt="" />
			</div>
			<div class="clincs__content">
				<h2 class="heading heading--clinics">3 клиники в Минске</h2>
				<ul class="clincs__list">
					<li class="clinics__item">
                        <img src="img/clinics/icon1.svg" class="clinics__icon" alt=""></img>
                        <div class="clinics__description">
                            <h3>ул. Казимировская, 21</h3>
                            <p>ст. м. «Каменная горка»</p>
                        </div>
                    </li>
                    <li class="clinics__item">
                        <img src="img/clinics/icon2.svg" class="clinics__icon" alt=""></img>
                        <div class="clinics__description">
                            <h3>пр-т Независимости, 92</h3>
                            <p>ст. м. «Московская»</p>
                        </div>
                    </li>
                    <li class="clinics__item">
                        <img src="img/clinics/icon3.svg" class="clinics__icon" alt=""></img>
                        <div class="clinics__description">
                            <h3>ул. Неманская, 4</h3>
                            <p>ст. м. «Каменная Горка»</p>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</section>
