<section class="first-screen">
	<div class="container">
		<div class="first-screen__wrap">
			<h1 class="first-screen__title">
				Сеть клиник дентальной имплантации
				<span> №1<br />в Беларуси</span>
			</h1>
			<p class="first-screen__caption">
				Восстановим любое количество зубов<br />
				с гарантией
			</p>
			<button class="btn-pink btn-pink--first-screen" data-bs-toggle="modal" data-bs-target="#consultation">Бесплатная консультация</button>
			<div class="first-screen-awards">
				<div class="first-screen-awards__item">
					<img src="img/first-screen/award1.png" class="first-screen-awards__img" width="37" height="34" alt="Стандарт ISO 9001:2015" />
					<img src="img/first-screen/award1-m.png" class="first-screen-awards__img_mobile" width="23" height="20" alt="Стандарт ISO 9001:2015" />
					<p class="first-screen-awards__text">Стандарт<br />ISO 9001:2015</p>
				</div>
				<div class="first-screen-awards__item">
					<img src="img/first-screen/award2.png" class="first-screen-awards__img" width="37" height="37" alt="Премия №1" />
					<img src="img/first-screen/award2-m.png" class="first-screen-awards__img_mobile" width="23" height="23" alt="Премия №1" />
					<p class="first-screen-awards__text">
						Премия <br />
						№1
					</p>
				</div>
			</div>
			<img src="img/first-screen/bg-img.png" class="first-screen__img" alt="Изображение" />
		</div>
	</div>
</section>
