<section class="full-block full-block2">
	<div class="container">
		<h2 class="heading heading--full-block">
			У вас уже есть 3D снимок<br />
			вашей челюсти?
		</h2>
		<ul class="full-block__list">
			<li class="full-block__item">
				<img src="img/full-block/icon2-1.svg" alt="" />
				<span>Оставьте заявку и мы проведем с вами <br />дистанционную консультацию </span>
			</li>
		</ul>
		<button class="btn-pink btn-pink--full-block" data-bs-toggle="modal" data-bs-target="#consultation">Дистанционная консультация</button>
	</div>
</section>
