<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="https://kano.by/" target="_blank" class="header-logo">
				<img src="img/logo.svg" alt="KANO" />
			</a>
			<nav class="header-nav">
				<ul class="header-nav__list" id="top-menu">
					<li class="header-nav__item">
						<a href="#why-kano" class="header-nav__link" data-name="why-kano">Почему Kano</a>
					</li>
					<li class="header-nav__item">
						<a href="#stages" class="header-nav__link" data-name="stages">Этапы</a>
					</li>
					<li class="header-nav__item">
						<a href="#types" class="header-nav__link" data-name="types">Виды имплантации</a>
					</li>
					<li class="header-nav__item">
						<a href="#stories" class="header-nav__link" data-name="stories">Отзывы</a>
					</li>
				</ul>
			</nav>
			<div class="header-phone">
				<a href="tel:375296433401" class="header-phone__link">+375 29 643-34-01</a>
				<a href="#" data-bs-toggle="modal" data-bs-target="#consultation" class="header-phone__btn">Заказать звонок</a>
			</div>
		</div>
	</div>
</header>
