<section class="internship">
	<div class="container">
		<div class="internship__wrap">
			<h2 class="heading heading--internship">
				Наши доктора стажируются и выступают на<br />
				курсах мирового масштаба
			</h2>
			<div class="swiper swiper4">
				<div class="swiper-wrapper">
					<div class="swiper-slide internship__slide">
						<img src="img/internship/1.png" alt="" />
					</div>
					<div class="swiper-slide internship__slide">
						<img src="img/internship/2.png" alt="" />
					</div>
					<div class="swiper-slide internship__slide">
						<img src="img/internship/3.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
