<section class="materials">
	<div class="container">
		<h2 class="heading heading--materials">
			Как начать разбираться в имплантации и понимать<br />
			о чем говорит доктор
		</h2>
		<div class="materials-wrap">
			<div class="materials__img-block">
				<img src="img/materials/materials.png" class="materials__img" alt="" />
			</div>
			<div class="materials__content">
				<h3 class="materials__title">Наши врачи в KANO подготовили для вас подборку, которая поможет вам:</h3>
				<ul class="materials__list">
					<li class="materials__item">
						<img src="img/materials/icon.svg" alt="" />
						<p>Разобраться во всех нюансах имплантации</p>
					</li>
					<li class="materials__item">
						<img src="img/materials/icon.svg" alt="" />
						<p>Узнать разницу между фирмами- производителями имплантов</p>
					</li>
					<li class="materials__item">
						<img src="img/materials/icon.svg" alt="" />
						<p>Получить ответы на самые частые вопросы</p>
					</li>
					<li class="materials__item">
						<img src="img/materials/icon.svg" alt="" />
						<p>Узнать какой вид имплантации подходит для вас</p>
					</li>
					<li class="materials__item">
						<img src="img/materials/icon.svg" alt="" />
						<p>Получить рекомендацию по уходу за имплантами</p>
					</li>
				</ul>
				<form action="" class="form form--materials">
					<input type="tel" name="phone" class="phone phone--materials" id="phone" />
					<button class="btn-pink btn-pink--materials">Получить материалы</button>
				</form>
			</div>
		</div>
	</div>
</section>
