<section class="partners">
	<div class="container">
		<h2 class="heading center">Материалы наивысшего качества</h2>
		<div class="partners__texts-wrap">
			<p>Работаем только с ведущими производителями имплантов и материлов</p>
			<ul class="partners__list">
				<li class="partners__item">
					<img src="img/partners/de.png" alt="Германия" />
					<span>Германия</span>
				</li>
				<li class="partners__item">
					<img src="img/partners/se.png" alt="Швеция" />
					<span>Швеция</span>
				</li>
				<li class="partners__item">
					<img src="img/partners/kr.png" alt="Южная Корея" />
					<span>Южная Корея</span>
				</li>
			</ul>
			<p>Все, что мы принимаем при вашем лечении прошло международное тестирование.</p>
		</div>
		<h3 class="partners__title">Производители с кем мы сотрудничаем:</h3>
		<ul class="partners__list1">
			<li class="partners__item1">
				<img src="img/partners/megagen.png" alt="Megagen" />
				<span>Оптимальное сочетание <br />цена/качество</span>
			</li>
			<li class="partners__item1">
				<img src="img/partners/shtrauman.png" alt="Shtrauman" />
				<span>Премиум</span>
			</li>
			<li class="partners__item1">
				<img src="img/partners/nobel.png" alt="Nobel Biocare" />
				<span>
					Используем в отдельных<br />
					случаях
				</span>
			</li>
		</ul>
	</div>
</section>
