<section class="problems">
	<div class="container">
		<div class="problems__wrap">
			<div class="problems__content">
				<h2 class="heading heading--problems">KANO решает проблемы любой степени сложности, как простые случаи, так и сложные</h2>
				<h3 class="problems__title">Проведение таких операций требуют ежегодного повышения квалификации за границей.</h3>
				<p class="problems__text">Квалификация наших врачей позволяет проводить сложнейшие операции.</p>
			</div>
			<img src="img/problems/problems__img.png" class="problems__img" alt="" />
		</div>
	</div>
</section>
