<section class="questions">
	<div class="container">
		<h2 class="heading">Самые частые вопросы от пациентов</h2>
		<div class="questions__wrap">
			<div class="questions__item">
				<div class="questions__title">
					<h3>Имплантация - это больно?</h3>
					<img src="img/questions/arrow.svg" alt="" />
				</div>
				<p class="questions__text">
					Нет, имплантация — это не больно. Мы используем анестетики новейшего поколения. Наша анестезия в 6 раз эффективнее новакаина<br />
					Болезненные ощущения возможны, в основном только после имплантации
				</p>
			</div>
			<div class="questions__item">
				<div class="questions__title">
					<h3>Имплантация - слишком серьезная процедура?</h3>
					<img src="img/questions/arrow.svg" alt="" />
				</div>
				<p class="questions__text">
					Имплантация хоть и является серьезной процедурой, но вам не стоит беспокоиться. Наши врачи установили около уже около 35 000 имплантатов!
					<br />
					<br />
					Почти все наши пациенты жалеют, что не обратились за лечением раньше. Переносы лечения привели к дополнительным денежным тратам у пациентов
				</p>
			</div>
			<div class="questions__item">
				<div class="questions__title">
					<h3>Нужно ли сдавать анализы перед имплантацией?</h3>
					<img src="img/questions/arrow.svg" alt="" />
				</div>
				<p class="questions__text">
					Да, мы рекомендуем всем пациентам сдавать анализы перед лечением. Мы хотим полностью обезопасить наших пациентов и врачей
				</p>
			</div>
			<div class="questions__item">
				<div class="questions__title">
					<h3>имплант может не прижиться?</h3>
					<img src="img/questions/arrow.svg" alt="" />
				</div>
				<p class="questions__text">
					Да, такие случаи бывают. Мы добились результата приживления в 99%<br />
					А если имплант не приживется, мы по гарантии заменим вам его
				</p>
			</div>
			<div class="questions__item">
				<div class="questions__title">
					<h3>Парадантоз является противопоказанием к имплантации?</h3>
					<img src="img/questions/arrow.svg" alt="" />
				</div>
				<p class="questions__text">
					Парадантоз уже давно не является противопоказанием в нашей клинике. Наши врачи успешно устанавливали импланты людям с таким заболеванием
				</p>
			</div>
		</div>
	</div>
</section>
