<section class="request">
	<div class="request__wrap">
		<div id="map"></div>
		<div class="request__block">
			<h2 class="heading heading--request">Запишитесь на консультацию!</h2>
			<p class="request__text">
				В ближайшее время с Вами свяжется медицинский координатор и проконсультирует вас по условиям и<br />
				стоимости лечения, подберёт врача и запишет Вас на<br />
				приём.
			</p>
			<button class="btn-pink" data-bs-toggle="modal" data-bs-target="#consultation">Записаться на консультацию</button>
		</div>
	</div>
</section>
