<section class="reviews">
	<div class="container">
		<h2 class="heading">Отзывы на независимых порталах</h2>
		<div class="reviews__wrap">
			<div class="reviews__item">
				<img src="img/reviews/1.svg" class="reviews__logo" alt="" />
				<img src="img/reviews/rating1.svg" alt="" class="reviews__rating" />
				<span class="reviews__number">4,9</span>
			</div>
			<div class="reviews__item">
				<img src="img/reviews/2.svg" class="reviews__logo" alt="" />
				<img src="img/reviews/rating2.svg" alt="" class="reviews__rating" />
				<span class="reviews__number">4,5</span>
			</div>
			<div class="reviews__item">
				<img src="img/reviews/3.svg" class="reviews__logo" alt="" />
				<img src="img/reviews/rating3.svg" alt="" class="reviews__rating" />
				<span class="reviews__number">4,2</span>
			</div>
		</div>
	</div>
</section>
