<section class="specialists">
	<div class="container">
		<div class="specialists__wrap">
			<h2 class="heading heading--specialists">Специалисты по имплантации KANO</h2>
			<div class="swiper swiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Ярощик Тимофей Михайлович</h3>
								<p class="specialists__text">
									Челюстно-лицевой хирург, имплантолог<br />
									Высшая квалификационная категория
								</p>
								<a
									href="https://kano.by/vrachi/implantologi/yaroshhik-timofej-mixajlovich/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/1.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/1_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Шелег Владимир Леонидович</h3>
								<p class="specialists__text">
									Врач имплантолог-хирург, ведущий хирург, первая квалификационная категория, лектор (стоматолог-хирург)
								</p>
								<a
									href="https://kano.by/vrachi/implantologi/sheleg-vladimir-leonidovich/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/2.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/2_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Вербицкая Александра Александровна</h3>
								<p class="specialists__text">Хирург-стоматолог, имплантолог Первая квалификационная категория</p>
								<a
									href="https://kano.by/vrachi/implantologi/verbiczkaya-aleksandra-aleksandrovna/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/3.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/3_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Каленкович Юрий Владимирович</h3>
								<p class="specialists__text">Хирург-имплантолог</p>
								<a
									href="https://kano.by/vrachi/implantologi/kalenkovich-yuriij-vladimirovich/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/4.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/4_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Добрицкий Антон Павлович</h3>
								<p class="specialists__text">Эстетические реставрации. Digital Smile design. Лектор. Экспектр Mega Gen</p>
								<a href="https://kano.by/vrachi/ortopedy/dobriczkij-anton-pavlovich/" target="_blank" class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/5.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/5_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Шнитко Николай Николаевич</h3>
								<p class="specialists__text">Стоматолог-ортопед. Протезирование. Коронки. Виниры. Капы.</p>
								<a href="https://kano.by/vrachi/ortopedy/shnitko-nikolaj-nikolaevich/" target="_blank" class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/6.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/6_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Вербицкий Александр Сергеевич</h3>
								<p class="specialists__text">Стоматолоог-ортопед. Цифровая стоматология CEREC.</p>
								<a href="https://kano.by/vrachi/ortopedy/verbitskiy-aleksand-sergeevich/" target="_blank" class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/7.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/7_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Куель Владислав Иванович</h3>
								<p class="specialists__text">Стоматолог-ортопед. Первая квалификационная категория.</p>
								<a
									href="https://kano.by/vrachi/ortopedy/kopiya-degteryov-aleksej-vladimirovich/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/8.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/8_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Балацун Евгений Андреевич</h3>
								<p class="specialists__text">Стоматолог-ортопед. Первая квалификационная категория.</p>
								<a
									href="https://kano.by/vrachi/ortopedy/kopiya-kuel-vladislav-ivanovich/"
									target="_blank"
									class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/9.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/9_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
					<div class="swiper-slide specialists__slide">
						<div class="specialists__block">
							<div class="specialists__description">
								<h3 class="specialists__title">Жуковец Игорь Николаевич</h3>
								<p class="specialists__text">Стоматолог-ортопед. Протезы All-On-4/6. Немедленная нагрузка.</p>
								<a href="https://kano.by/vrachi/ortopedy/zhukovecz-igor-nikolaevich/" target="_blank" class="btn-outline btn-outline--specialists"
									>Подробнее</a
								>
							</div>
							<img src="img/specialists/10.png" alt="" class="specialists__photo_desktop" />
							<img src="img/specialists/10_m.png" alt="" class="specialists__photo_mobile" />
						</div>
					</div>
				</div>
			</div>
			<div class="slider-btns">
				<div class="btn-slide button-prev_2">
					<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.375 18.75L1.625 10L10.375 1.25" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="btn-slide button-next_2">
					<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.625 1.25L10.375 10L1.625 18.75" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
