<section class="stages section-scroll" id="stages">
	<div class="container">
		<div class="stages__wrap">
			<h2 class="heading">Этапы имплантации</h2>
			<ul class="stages-list">
				<li class="stages-list__item">
					<p class="stages-list__number">1</p>
					<p class="stages-list__title">
						Консультация<br />
						у врача- имплантолога/<br />ортопеда
					</p>
				</li>
				<li class="stages-list__item">
					<p class="stages-list__number">2</p>
					<p class="stages-list__title">Установка формирователя десны</p>
				</li>
				<li class="stages-list__item">
					<p class="stages-list__number">3</p>
					<p class="stages-list__title">Установка Имплантата</p>
				</li>
				<li class="stages-list__item">
					<p class="stages-list__number">4</p>
					<p class="stages-list__title">Подбор коронки — несъемного протеза зуба с врачом-ортопедом</p>
				</li>
				<li class="stages-list__item">
					<p class="stages-list__number">5</p>
					<p class="stages-list__title">Установка коронки на имплантат</p>
				</li>
				<li class="stages-list__item">
					<p class="stages-list__number">6</p>
					<p class="stages-list__title">Полное сопровождение после установки от kano</p>
				</li>
			</ul>
			<ul class="stages-list_mobile">
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">1</p>
					<p class="stages-list__title_mobile">Консультация у врача-<br />имплантолога/ортопеда</p>
				</li>
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">2</p>
					<p class="stages-list__title_mobile">Установка формирователя десны</p>
				</li>
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">3</p>
					<p class="stages-list__title_mobile">Установка Имплантата</p>
				</li>
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">4</p>
					<p class="stages-list__title_mobile">
						Подбор коронки—несъемного<br />
						протеза зуба с врачом-<br />ортопедом
					</p>
				</li>
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">5</p>
					<p class="stages-list__title_mobile">
						Установка коронки на<br />
						имплантат
					</p>
				</li>
				<li class="stages-list__item_mobile">
					<p class="stages-list__number_mobile">6</p>
					<p class="stages-list__title_mobile">
						Полное сопровождение после<br />
						установки от kano
					</p>
				</li>
			</ul>
			<button class="btn-pink btn-pink--stages" data-bs-toggle="modal" data-bs-target="#consultation">Записаться на лечение</button>
		</div>
	</div>
</section>
