<section class="stories section-scroll" id="stories">
	<div class="container">
		<div class="stories__wrap">
			<h2 class="heading heading--stories">Реальные истории пациентов</h2>
			<div class="swiper swiper1">
				<div class="swiper-wrapper">
					<div
						class="swiper-slide stories__slide"
						data-video="AR8BFFJQlrY?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/1.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="dzzXN5za97I?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/2.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="ppYguuItp6Q?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/3.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="HefNlmDsBmQ?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/4.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="ulPdHGhB3J0?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/5.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="6iCfa6s44M0?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/6.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="m3XbFJUzUc0?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/7.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="0TZG3GPbD2k?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/8.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="hTxoegEPikk?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/9.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="yx4sN_jy9Yk?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/10.png" class="swiper-lazy" alt="" />
					</div>
					<div
						class="swiper-slide stories__slide"
						data-video="xltiusShvFc?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
					>
						<div class="stories__play">
							<img src="img/stories/play.svg" alt="play" />
						</div>
						<div class="swiper-lazy-preloader"></div>
						<img data-src="img/stories/11.png" class="swiper-lazy" alt="" />
					</div>
				</div>
			</div>
			<div class="slider-btns">
				<div class="btn-slide button-prev">
					<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.375 18.75L1.625 10L10.375 1.25" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="btn-slide button-next">
					<svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.625 1.25L10.375 10L1.625 18.75" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
