<section class="types section-scroll" id="types">
	<div class="container">
		<h2 class="heading">Виды имплантации</h2>
		<nav class="types-nav">
			<ul class="types-nav__list">
				<li class="types-nav__item">
					<button class="types-nav__btn active">Классическая</button>
				</li>
				<li class="types-nav__item">
					<button class="types-nav__btn">Имплантация All-on-4</button>
				</li>
				<li class="types-nav__item">
					<button class="types-nav__btn">Одномоментная</button>
				</li>
				<li class="types-nav__item">
					<button class="types-nav__btn">Скуловая</button>
				</li>
			</ul>
		</nav>
		<div class="types-content">
			<div class="types-content__item active">
				<div class="implants">
					<img src="img/implants/1.png" class="implants__img" alt="Классическая" />
					<div class="implants__description">
						<h2 class="implants__title">Классическая имплантация</h2>
						<p class="implants__caption">
							Самая распространенная методика<br />
							Подходит практически для любых клинических ситуаций.
						</p>
						<div class="implants__divider"></div>
						<ul class="implants__list">
							<li class="implants__item">
								<img src="img/implants/icons/1-1.svg" alt="Star" />
								<p class="implants__text">Материалы и имплантаты наивысшего качества. Все, что мы используем прошло тестирование</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/1-2.svg" alt="Good" />
								<div>
									<p class="implants__text">Работаем только с ведущими производителями</p>
									<ul class="implants__sub-list">
										<li class="implants__sub-item">
											<img src="img/implants/icons/de.png" alt="Германия" />
											<p class="implants__sub-text">Германия</p>
										</li>
										<li class="implants__sub-item">
											<img src="img/implants/icons/se.png" alt="Швеция" />
											<p class="implants__sub-text">Швеция</p>
										</li>
										<li class="implants__sub-item">
											<img src="img/implants/icons/kr.png" alt="Южная Корея" />
											<p class="implants__sub-text">Южная Корея</p>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="types-content__item">
				<div class="implants">
					<img src="img/implants/2.png" class="implants__img" alt="Имплантация All-on-4" />
					<div class="implants__description">
						<h2 class="implants__title">Комплексная имплантация "Все на 4/6"</h2>
						<ul class="implants__list implants__list--mod">
							<li class="implants__item">
								<img src="img/implants/icons/2-1.svg" alt="" />
								<p class="implants__text">Не требует пластики костной ткани</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/2-2.svg" alt="" />
								<p class="implants__text">Равноценная нагрузка на все импланты</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/2-3.svg" alt="" />
								<p class="implants__text">В 80% случаев без наращивания костной ткани</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/2-4.svg" alt="" />
								<p class="implants__text">Подходит в случае полной потери зубов</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/2-5.svg" alt="" />
								<p class="implants__text">Значительно дешевле, чем отдельные импланты</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/2-4.svg" alt="" />
								<p class="implants__text">Привыкание меньше, чем за неделю</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="types-content__item">
				<div class="implants">
					<img src="img/implants/3.png" class="implants__img" alt="Одномоментная имплантация" />
					<div class="implants__description">
						<h2 class="implants__title">Одномоментная имплантация</h2>
						<p class="implants__caption">Установка имплантата и протезирование происходит за 1 этап</p>
						<div class="implants__divider"></div>
						<ul class="implants__list">
							<li class="implants__item">
								<img src="img/implants/icons/3-1.svg" alt="" />
								<p class="implants__text">Установка имплантата и коронки за 1 час</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/3-2.svg" alt="" />
								<p class="implants__text">Быстрое восстановление</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/3-3.svg" alt="" />
								<p class="implants__text">Минимум дискомфорта и болевых ощущений</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="types-content__item">
				<div class="implants">
					<img src="img/implants/4.png" class="implants__img" alt="Скуловая имплантация" />
					<div class="implants__description">
						<h2 class="implants__title">Скуловая имплантация</h2>
						<p class="implants__caption">
							Сложнейшая методика имплантации по системе зигома <br /><br />
							Этот вид имплантации требует специального обучения специалистов
						</p>
						<div class="implants__divider"></div>
						<h3 class="implants__list-title">Применяется при:</h3>
						<ul class="implants__list">
							<li class="implants__item">
								<img src="img/implants/icons/4.svg" alt="" />
								<p class="implants__text">Тотальной атрофии костной ткани</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/4.svg" alt="" />
								<p class="implants__text">Невозможность проведения процедуры синус-лифтинг</p>
							</li>
							<li class="implants__item">
								<img src="img/implants/icons/4.svg" alt="" />
								<p class="implants__text">Невозможность вживления классических или компрессионных одноэтапных имплантатов</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="implants__wrap_mobile">
			<div class="implants__item_mobile">
				<div class="implants__img_mobile">
					<img src="img/implants/1-m.png" alt="" />
				</div>

				<h2 class="implants__title_mobile">Классическая имплантация</h2>
				<p class="implants__text_mobile">Самая распространенная методика</p>
				<button class="btn-outline btn-mobile" data-bs-toggle="modal" data-bs-target="#implants1">Подробнее</button>
			</div>
			<div class="implants__item_mobile">
				<div class="implants__img_mobile">
					<img src="img/implants/2-m.png" alt="" />
				</div>
				<h2 class="implants__title_mobile">Имплантация All on 4/6</h2>
				<p class="implants__text_mobile">Оптимальный метод восстановления всей челюсти</p>
				<button class="btn-outline btn-mobile" data-bs-toggle="modal" data-bs-target="#implants2">Подробнее</button>
			</div>
			<div class="implants__item_mobile">
				<div class="implants__img_mobile">
					<img src="img/implants/3-m.png" alt="" />
				</div>
				<h2 class="implants__title_mobile">Одномоментная имплантация</h2>
				<p class="implants__text_mobile">Установка импланта и протезирование происходит за 1 этап</p>
				<button class="btn-outline btn-mobile" data-bs-toggle="modal" data-bs-target="#implants3">Подробнее</button>
			</div>
			<div class="implants__item_mobile">
				<div class="implants__img_mobile">
					<img src="img/implants/4-m.png" alt="" />
				</div>
				<h2 class="implants__title_mobile">Скуловая имплантация</h2>
				<p class="implants__text_mobile">Сложнейшая методика имплантации по системе зигома</p>
				<button class="btn-outline" data-bs-toggle="modal" data-bs-target="#implants4">Подробнее</button>
			</div>
		</div>
	</div>
</section>
