<section class="why-kano section-scroll" id="why-kano">
	<div class="container">
		<h2 class="heading">Почему выбирают KANO?</h2>

		<div class="why-kano__wrap">
			<div class="why-kano__photos">
				<img src="img/why-kano/1.png" class="why-kano__photo" width="600" height="511" alt="Наши специалисты" />
				<img src="img/why-kano/2.png" class="why-kano__photo" width="600" height="511" alt="Наши специалисты" />
				<img src="img/why-kano/1-m.png" class="why-kano__photo_mobile" alt="Наши специалисты" />
				<img src="img/why-kano/2-m.png" class="why-kano__photo_mobile" alt="Наши специалисты" />
			</div>
			<ul class="why-kano__list">
				<li class="why-kano__item">
					<img src="img/why-kano/icon1.svg" class="why-kano__icon" alt="Быстрое лечение" />
					<h3 class="why-kano__title">
						Быстрое<br />
						лечение
					</h3>
					<p class="why-kano__text">Полное восстановление челюсти за 5 дней</p>
				</li>
				<li class="why-kano__item">
					<img src="img/why-kano/icon2.svg" class="why-kano__icon" alt="Честные цены" />
					<h3 class="why-kano__title">
						Честные<br />
						цены
					</h3>
					<p class="why-kano__text">Стоимость будет зависеть только от тех услуг, которые вам действительно нужны</p>
				</li>
				<li class="why-kano__item">
					<img src="img/why-kano/icon3.svg" class="why-kano__icon" alt="Расширенная гарантия" />
					<h3 class="why-kano__title">
						Расширенная<br />
						гарантия
					</h3>
					<p class="why-kano__text">Пожизненная гарантия на имплантат от производителя. Гарантия на приживляемость - 5 лет</p>
				</li>
				<li class="why-kano__item">
					<img src="img/why-kano/icon4.svg" class="why-kano__icon" alt="Ведущие специалисты страны" />
					<h3 class="why-kano__title">
						Ведущие<br />
						специалисты<br />
						страны
					</h3>
					<p class="why-kano__text">Только 1 из 10 кандидатов получает работу в KANO. Наши доктора установили более 40 000 имплантатов</p>
				</li>
				<li class="why-kano__item">
					<img src="img/why-kano/icon5.svg" class="why-kano__icon" alt="Любой уровень сложности" />
					<h3 class="why-kano__title">
						Любой уровень<br />
						сложности
					</h3>
					<p class="why-kano__text">
						Наши доктора на протяжении всей карьеры проходят курсы у ведущих специалистов мира и осваивают сложнейшие медотики
					</p>
				</li>
				<li class="why-kano__item">
					<img src="img/why-kano/icon6.svg" class="why-kano__icon" alt="Приживаемость - 99,2%" />
					<h3 class="why-kano__title">
						Приживаемость -<br />
						99,2%
					</h3>
					<p class="why-kano__text">Именно такого результата добилась наша клиника за последние 5 лет</p>
				</li>
			</ul>
		</div>
	</div>
</section>
