<section class="world">
	<div class="container">
		<div class="world__wrap">
			<div class="world__form-wrap">
				<h2 class="heading heading--world">
					У вас есть вопросы<br />
					специалисту?
				</h2>
				<p class="world__form-text">
					Задайте его здесь, и наш медицинский<br />
					координатор ответит на все вопросы
				</p>
				<form action="" class="form form--world">
					<textarea name="" placeholder="Ваш вопрос"></textarea>
					<input type="tel" name="phone" class="phone phone--world" id="phone2" />
					<button class="btn-pink btn-pink--world">Задать вопрос</button>
				</form>
			</div>
			<p class="world__text"><span>16000 </span>пациентов из 57 стран мира доверили свое лечение KANO</p>
		</div>
	</div>
</section>
