$green: #00ba97;
$pink: #d7526b;
$white: #ffffff;

$black: #3b3b3b;
$gray: rgba(#000, 0.64);
$gray-medium: rgba(#000, 0.4);
$gray-light: rgba(#000, 0.15);

$main-bg: #f6f5f5;
$secondary-bg: #f2efef;
$gray-bg: #e9e8e8;

$transition: all 0.2s linear;

$xxl: 1399.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 340px;
